*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #f7f9fc;
    color: #222;
    min-width: 900px; 
}

header{
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

nav{
    display: flex;
    justify-content: center;
    gap:30px;
    padding: 15px 25px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #0077ff;
}

nav ul{
    list-style: none;
    flex-wrap:nowrap;
    display: flex;
    gap: clamp(15px, 8vw, 35px)
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: clamp(14px, 2.5vw, 18px);
}

nav ul li a:hover{
    color: #0077ff;
}

.section{
    padding: clamp(60px, 10vw, 90px) 20px;
}

.hero{
    min-height: 100vh;
    padding: 140px 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h1{
    font-size: clamp(28px, 6vw, 42px);
}

.highlight{
    color: #0077ff;
}

.hero-content h3{
    font-size: clamp(16px, 4vw, 24px);
    margin-top: 10px;
}

.hero-content p{
    margin-top: 15px;
    font-size: clamp(14px, 3vw, 18px);
    color: #555;
}

.btn-glow{
    margin-top: 25px;
    padding: 12px 25px;
    background: #0077ff;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn-glow:hover{
    background: #005fcc;
}

.title{
    text-align: center;
    font-size: clamp(26px, 5vw, 36px);
    margin-bottom: 40px;
}

.about-container {
    display: flex;
    flex-direction: column;   
    align-items: center;      
    max-width: 900px;
    margin: auto;
    padding: 20px;
    gap: 20px;
}

.text {
    width: 100%;
    max-width: 700px;         
    text-align: justify;      
}

.text p {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
}

.profile{
    width: clamp(160px, 35vw, 240px);
    height: clamp(160px, 35vw, 240px);
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #0077ff;
}



.btn2{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 18px;
    background: #0077ff;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    
}

.btn2:hover{
    background: #005fcc;
}



.skill-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.skill-box {
    width: 100%;
    padding: 15px;
    background: white;
    border: 2px solid #e0e6ef;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.skill-box:hover{
    border-color: #0077ff;
    transform: translateY(-5px);
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;

    max-width: 900px;
    margin: 0 auto;        
    justify-items: center; 
}


.project-card{
    background: white;
    padding: 25px;
    border-radius: 12px;
    border-left: 5px solid #0077ff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
    transition: 0.3s;
    width: 100%;
}

.project-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.12);
}

.project-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: #0a3d91;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 15px;
    transition: 0.3s;
}

.project-btn img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}

.project-btn:hover {
    background: #072f72;
    transform: translateY(-3px);
}

.technologies{
    display: inline-block;
    background: rgb(221, 221, 221);
    color: #000000;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: 500;
    margin-top: 15px;
}

.internships-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.internships-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    border-left: 5px solid #0077ff;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
    transition: 0.3s;
    width: 100%;
}

.internships-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 18px rgba(0,0,0,0.12);
}

.contact-info{
    text-align: center;
    font-size: clamp(16px, 3vw, 20px);
    line-height: 2;
}

.contact-info a{
    color: #0077ff;
    text-decoration: none;
}

.contact-info a:hover{
    text-decoration: underline;
}

footer{
    background: #fff;
    padding: 15px;
    text-align: center;
    border-top: 2px solid #e0e6ef;
}

.reveal{
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s ease-in-out;
}

.reveal.active{
    opacity: 1;
    transform: translateY(0px);
}
